Port 4242
ListenAddress 127.0.0.1

# SSH Fortification (Bonus)
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

# Restrict auth attempts
MaxAuthTries 3
LoginGraceTime 20

# Disable unused features
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no

ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
